.cardHolder {
    padding-top: 25px;
}
.card {
    border: 3px solid white;
    border-radius: 5%;
    max-width: 48%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
img {
    padding-top: 20px;
    max-width: 95%;   
}
.cardText {
    text-align: center;
}
#gameInfo {
    text-align: left;
}