#header {
    display: flex !important;
    align-items: baseline !important;
    gap: 75%;
}
#logoBox {
    float: left;
}
#logo {
    height: auto;
    max-width: 250px;
}
.navigation {
    box-shadow: none;
    float: right;
    margin-top: -50%;
}
a{
    color: black !important;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    margin: 1rem;
    }
a:hover {
    color: #A5BE00 !important;
}
.clear {
    clear: both;
    padding-top: 2rem;
}